.root {
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 1;
}

.interactive {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 8px;
  padding: 24px;
  width: 344px;
  height: 300px;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
}

.btn {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  border: 1px solid #e1e3e6;
  border-radius: 8px;
  padding: 12px;
  width: 296px;
  background-color: #fff;
  &:focus {
    outline: 1px solid #f50;
  }
}

.buttonFilled {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 72px;
  height: 40px;
  background-color: #f50;
  border: 0;
  cursor: pointer;
}

.buttonEmpty {
  color: #f50;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #f50;
  border-radius: 8px;
  padding: 8px 16px;
  width: 98px;
  height: 40px;
  background-color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
